.competition-form__required-fields {
  margin-top: 37px;
  margin-bottom: 17px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283645;
    &--pink-star {
      color:  #d22856;
    }
}

.competition-form__wrapper {
  width: 320px;
  margin: 0 auto;
}

.competition-form__required-fields--none {
  display: none;
}

@media (min-width: 660px) {
  .competition-form {
    padding-bottom: 51px;
  }

  .competition-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
  }

  .competition-form__required-fields {
    display: inline-block;
    order: 7;
    padding-right: 20px;
    margin: 0;
    align-self: center;
  }
}

@media (min-width: 1100px) {
  .competition-form {
    padding: 0 80px;
  }

  .competition-form__wrapper {
    width: 1100px;
  }

   .competition-form__required-fields--none {
     display: inline;
   }
}
