.popup-fail {
  position: absolute;
  top: 1900px;
  display: block;
  width: 320px;
  min-height: 300px;
  padding: 0;
  text-align: center;
  background: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
}

.popup-fail__wrapper {
  padding: 35px 30px;
}

.popup-fail--closed {
  display: none;
}

.popup-fail__title {
  width: 215px;
  margin: 0 auto;
  padding-top: 15px;
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
}

.popup-fail__text {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.popup-fail__button {
  margin: 0 auto 20px;
  padding: 16.5px 70px;
}

@media (min-width: 660px) {
  .popup-fail {
    top: 2220px;
    left: 50%;
    width: 460px;
    margin-left: -230px;
    min-height: 363px;
  }

  .popup-fail__wrapper {
    padding: 35px 70px;
  }

  .popup-fail__title {
    font-size: 30px;
    line-height: 40px;
  }

  .popup-fail__button {
    margin: 0 auto 52px;
    padding: 16.5px 136.8px;
  }
}

@media (min-width: 1100px) {
  .popup-fail {
    top: 1400px;
  }
}
