@mixin app-info__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

@mixin app-info__info {
  margin: 0;
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

@mixin bg-gray {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    background: #f2f2f2;
    transform: skewY(-4deg);
}

@mixin our__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

@mixin our__item {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
}

@mixin app-info__child--desktop {
  display: inline-block;
  margin: 0;
  width: 280px;
  text-align: center;
  float: none;
  background: #f2f2f2;
}

@mixin app-info__title--desktop {
  padding-top: 60px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

@mixin app-info__info--desktop {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
}

@mixin our__title--desktop {
  margin-bottom: 19px;
}

@mixin hover-and-active-menu {
  &:hover {
    color: #d22856;
  }
  &:active {
    opacity: .3;
  }
}

@mixin placeholder-style {
  &::placeholder {
    color: #283645;
  }
  &:focus::placeholder {
    transition: opacity .15s ease;
    opacity: 0;
  }

}

@mixin input-decoration {
  &:hover {
    border-color: #283645;
  }
  &:active {
    border-color: #d22856;
  }
}

@mixin animation-price {
  transform: translateX(1%);
  transition: .6s cubic-bezier(.68, -0.55, 0.265, 1.55);
}
