.app-reviews {
  margin-top: -45px;
  margin-bottom: 135px;
  background: #fff;
}

.app-reviews__wrapper {
  padding: 0 20px;
  text-align: center;
}

.app-reviews__title {
  margin: 0;
  padding-top: 45px;;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.app-reviews__text {
  font-size: 14px;
  line-height: 30px;
  font-size: 400;
  color: #283645;
}
