.intro-image__wrapper {
  position: relative;
  min-height: 463px;
  width: 320px;
  margin: 0 auto;
}

.intro-image__hand {
  position: absolute;
  bottom: -30px;
  left: 0;
  z-index: 2;
}

.intro-image__result-app {
  position: absolute;
  right: 105px;
  bottom: 54px;
  z-index: 1;
}

@media (min-width: 660px) {
   .intro-image__wrapper {
    width: 660px;
    min-height: 729px;
  }

  .intro-image__hand {
    bottom: -3px;
  }


  .intro-image__result-app {
    right: 95px;
    bottom: 140px;
  }
}

@media (min-width: 1100px) {
  .intro-image {
    padding: 0;
    background: none;
  }

  .intro-image__wrapper {
    width: 1100px;
    min-height: 853px;
  }

  .intro-image__hand {
    left: 25px;
    bottom: -3px;
  }

  .intro-image__result-app {
    right: 275px;
    bottom: 170px;
  }
}
