.popup-send {
  position: absolute;
  top: 1900px;
  display: block;
  width: 320px;
  min-height: 400px;
  padding: 0;
  text-align: center;
  background: #fff;
  border: none;
  border-radius: 5px;
}

.popup-send--closed {
  display: none;
}

.popup-send__wrapper {
  padding: 37px 50px 36px;
  background: #fff;
  border-radius: 5px 5px 0 0;
}

.popup-send__title {
  margin: 0;
  font-size: 25px;
  line-height: 35px;
  font-weight: bold;
}

.popup-send__text {
  margin: 0;
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.popup-send__button {
  margin: 20px auto 30px;
  padding: 16.5px 77.6px;
}

@media (min-width: 660px) {
  .popup-send {
    top: 2100px;
    left: 100px;
    right: 100px;
    width: 460px;
    min-height: 431px;
  }

  .popup-send__title {
    font-size: 30px;
    line-height: 40px;
  }

  .popup-send__button {
    margin: 47px auto 52px;
  }
}

@media (min-width: 1100px) {
  .popup-send {
    top: 1275px;
    left: 160px;
    right: 160px;
    width: 780px;
    min-height: 374px;
  }

  .popup-send__wrapper {
    padding: 36px 160px 34px;
  }

  .popup-send__text {
    margin-top: 29px;
  }

  .popup-send__button {
    margin: 48px auto 52px;
  }
}
