.slogan__text {
  margin: 0;
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
    &:last-of-type {
      padding-top: 0;
      padding-bottom: 42px;
    }
}

@media (min-width: 660px) {
  .slogan__text {
    padding-top: 70px;
    font-size: 18px;
      &:last-of-type {
        padding-top: 0;
        padding-bottom: 68px;
      }
  }
}

@media (min-width: 1100px) {
  .slogan__text {
    padding-top: 63px;
      &:last-of-type {
        padding-top: 0;
        padding-bottom: 65px;
      }
  }
}
