.table-version {
  margin-left: -259px;
  margin-bottom: 40px;
  width: 840px;
  background: #fff;
  border-collapse: collapse;
}

.table-version td {
  border: 2px solid #f2f2f2;
}

.table-version__base,
.table-version__unlim,
.table-version__standart {
  padding: 19px 0;
  width: 33.3%;
}

.table-versoin__title {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #283645;
    & span {
      display: inline-block;
      width: 100%;
      font-size: 24px;
      font-weight: 300;
    }
}

.table-versoin__title .table-version__standart  {
  position: relative;
  &::before {
    content: 'Хит';
    position: absolute;
    top: 14px;
    left: -29px;;
    display: inline-block;
    width: 52px;
    height: 0;
    font-size: 14px;
    font-weight: 600;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #d22856;
    transform: rotate(-45deg);
  }
}

.table-version__pink-filter td ,
.table-version__smile td,
.table-version__comments td {
  padding: 15px 0;
  padding-left: 23px;
  padding-right: 17px;
}

.table-version__pink-filter,
.table-version__smile,
.table-version__comments {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283645;
}

.table-version__pink-filter td {
  background: url("../img/table-yes.svg") no-repeat right;
  background-origin: content-box;
}

.table-version__smile td {
  background: url("../img/table-yes.svg") no-repeat right;
  background-origin: content-box;
    &:first-of-type {
      background: url("../img/table-no.svg") no-repeat right;
      background-origin: content-box;
    }
}

.table-version__comments td {
  background: url("../img/table-no.svg") no-repeat right;
  background-origin: content-box;
    &:last-of-type {
      background: url("../img/table-yes.svg") no-repeat right;
      background-origin: content-box;
    }
}
