.app-info {
  position: relative;
    &::before {
      @include bg-gray;
      bottom: 0px;
      height: 810px;
    }
}

.app-info__wrapper {
  text-align: center;
  padding: 0 20px;
}

.app-info__title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  color: #283645;
}

.app-info__title--first {
  margin-top: 45px;
}

.app-info__title--second {
  margin-top: 35px;
  margin-bottom: 115px;
}

.app-info__hello-image {
  position: relative;
  z-index: -1;
}
