.link-download {
  padding-top: 28px;
  padding-bottom: 32px;
  background: #1d2631;
}

.link-download__wrapper {
  padding: 0 20px;
}

.link-download__main-link {
  display: block;
  margin-bottom: 32px;
  padding: 15.5px 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 30px;
}

.link-download__appstore,
.link-download__google-play,
.link-download__windows-store {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.link-download__appstore {
  width: 49px;
  height: 58px;
  margin-left: 35px;
  background: url("../img/app-store.svg") no-repeat center;
}

.link-download__google-play {
  width: 45px;
  height: 48px;
  margin: 0 31px;
  background: url("../img/google-play.svg") no-repeat center;
}

.link-download__windows-store {
  width: 44px;
  height: 41px;
  margin-right: 36px;
  background: url("../img/windows-store.svg") no-repeat center;
}

.link-download__info {
  margin: 0;
  margin-top: 22px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  color: #fff;
}
