.bx-viewport {
  height: 200px;
}

.bx-pager {
  position: relative;
  z-index: 1;
  text-align: center;
}

.bx-pager-item {
  display: inline-block;
    &:nth-of-type(2) {
      margin: 0 25px;
    }
}

.bx-pager-link {
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-top: -60px;
    padding: 0;
    vertical-align: middle;
    font-size: 0;
    border: 0;
    border-radius: 50%;
    background: #b5b9be;
    cursor: pointer;
    &:nth-of-type(2) {
      margin: 0 13px;
    }
    &:hover {
      background: #7e868f;
    }
    &:active {
      opacity: .3;
    }
}

.bx-pager-item .active {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: -3px;
  background: #283645;
  border-radius: 50%;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 6px;
      height: 6px;
      margin-top: -3px;
      margin-left: -3px;
      background: #fff;
      border-radius: 50%;
    }
    &:hover {
      background: #283645;
    }
}

.bx-controls-direction {
  display: none;
}

@media (min-width: 660px) {
  .bx-pager-link {
    margin-top: -30px;
  }
}

@media (min-width: 1100px) {
  .bx-pager {
    display: none;
  }

  .bx-controls-direction {
    display: block;
  }

  .bx-prev,
  .bx-next {
    position: absolute;
    top: 50%;
    display: block;
    width: 28px;
    height: 43px;
    font-size: 0;
      &::before,
      &::after {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        margin: 0 auto;
        margin-top: 35%;
        background: gray;
      }
      &::after {
        margin-top: 17px;
      }
  }

  .bx-prev {
    left: 80px;
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }

  .bx-next {
    right: 80px;
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
