.table-version {
  position: relative;
  z-index: 5;
  margin-bottom: 25px;
  width: 277.5%;
  background: #fff;
  border-collapse: collapse;
}

.table-version td {
  border: 2px solid #f2f2f2;
}


.table-version__column-1,
.table-version__column-2,
.table-version__column-3,
.table-version__column-4 {
  width: 33.3%;
  padding: 19px 0;
}

.table-version__row-1,
.table-version__row-2,
.table-version__row-3,
.table-version__row-4 {
  & .table-version__column-1 {
    display: none;
  }
}

.table-version__row-1 {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #283645;
}

.table-version__row-1 span {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: 300;
}

.table-version__row-1 .table-version__column-3  {
  position: relative;
    &::before {
      content: 'Хит';
      position: absolute;
      top: 14px;
      left: -27px;
      display: inline-block;
      width: 52px;
      height: 0;
      font-size: 14px;
      font-weight: 600;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 30px solid #d22856;
      transform: rotate(-45deg);
    }
}

.table-version__row-2,
.table-version__row-3,
.table-version__row-4 {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283645;
    & td {
      padding: 15px 17px 15px 23px;
    }
}

.table-version__row-2 td {
  background: url("../img/table-yes.svg") no-repeat right;
  background-origin: content-box;
}

.table-version__row-3 td {
  background: url("../img/table-yes.svg") no-repeat right;
  background-origin: content-box;
    &:nth-of-type(2) {
      background: url("../img/table-no.svg") no-repeat right;
      background-origin: content-box;
    }
}

.table-version__row-4 td {
  background: url("../img/table-no.svg") no-repeat right;
  background-origin: content-box;
    &:last-of-type {
      background: url("../img/table-yes.svg") no-repeat right;
      background-origin: content-box;
    }
}

@media (min-width: 660px) {
  .table-version {
    width: 620px;
    margin: 0 auto;
  }

  .table-version__row-1 span {
    font-size: 18px;
  }

  .table-version__row-1 .table-version__column-3 {
    &::before {
      top: 5px;
      left: -21px;
      width: 25px;
      border-left: 27px solid transparent;
      border-right: 27px solid transparent;
      border-bottom: 27px solid #d22856;
    }
  }

  .table-version__row-1,
  .table-version__row-2,
  .table-version__row-3,
  .table-version__row-4 {
      & .table-version__column-1 {
        display: table-cell;
        background: none;
      }

  }

  .table-version__row-1 .table-version__column-1 {
    background: #f2f2f2;
  }

   .table-version__column-1 {
    padding: 0;
    padding-left: 15px;
    font-size: 14px;
    line-height: 30px;
    text-transform: none;
  }


  .table-version__column-1,
  .table-version__column-2,
  .table-version__column-3,
  .table-version__column-4 {
    width: 154px;
    padding: 8px 0;
  }

  .table-version__row-2,
  .table-version__row-3,
  .table-version__row-4 {
    height: 45px;
    font-size: 0;
    line-height: 0;
      &  td {
        background-position: center;
        &:nth-of-type(2) {
          background-position: center;
        }
        &:last-of-type {
          background-position: center;
        }
      }
  }
}

@media (min-width: 1100px) {
  .table-version {
    width: 940px;
    margin: 0 auto;
  }

  .table-version__row-1 {
    font-size: 18px;
      & td {
        padding: 17px 0;
      }
  }

  .table-version__row-1 span {
    font-size: 24px;
  }
}