.app-reviews {
  margin-top: -45px;
  padding-bottom: 65px;
  padding-top: 45px;
  background: #fff;
}

.app-reviews__wrapper {
  padding: 0 20px;
}

.app-reviews__item {
  width: 320px;
  padding: 0 20px;
  text-align: center;
  padding-bottom: 32px;
}

.app-reviews__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.app-reviews__title-info {
  display: none;
}

.app-reviews__text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

@media (min-width: 660px) {
  .app-reviews {
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 54px;
  }

  .app-reviews__wrapper {
    width: 660px;
    margin: 0 auto;
  }

  .app-reviews__item {
    display: flex;
    flex-direction: column;
    width: 660px;
    padding-bottom: 32px;
  }

  .app-reviews__title {
    order: 2;
    padding: 0;
    font-size: 20px;
  }

  .app-reviews__title-info {
    display: block;
    margin-top: 7px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }

  .app-reviews__text {
    order: 1;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
  }
}

@media (min-width: 1100px) {
  .app-reviews {
    position: relative;
    margin-top: 72px;
    padding: 0 80px;
    background: url("../img/quotes.svg") no-repeat top center;
  }

  .app-reviews__wrapper {
    width: 1100px;
    padding: 0;
  }

  .app-reviews__item {
    width: 700px;
    margin: 0 auto;
    padding: 0;
    padding-top: 115px;
  }

  .app-reviews__text {
    width: 700px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 35px;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
  }

  .app-reviews__title {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 30px;
      & span {
        margin-bottom: 0;
      }
  }

  .app-reviews__title-info {
    font-size: 18px;
    line-height: 30px;
  }

  .app-reviews__slider-toggles {
    display: none;
  }
}
