.page-footer {
  display: block;
}

.page-footer__icon {
  display: block;
  width: 147px;
  margin: 0 auto;
  padding-top: 40px;
  cursor: pointer;
    &:active {
      opacity: .3;
    }
}

.page-footer--none {
  display: none;
}

@media (min-width: 660px) {
  .page-footer {
    display: block;
    min-height: 127px;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .page-footer__icon {
    vertical-align: top;
    padding-top: 35px;
    margin: 0;
  }
}

@media (min-width: 1100px) {
  .page-footer {
    min-height: 197px;
  }

  .page-footer__wrapper {
    padding: 0 80px;
  }

  .page-footer__icon {
    display: inline-block;
    margin-right: 226px;
    padding-top: 70px;
  }
}
