.our-contacts {
  position: relative;
  z-index: 5;
  margin-top: -20px;
  margin-bottom: -60px;
  padding-top: 45px;
  background: #fff ;
  background-image: url("../img/triangle-white.svg");
  background-repeat: no-repeat;
  background-position-y: 340px;
}

.our-contacts__wrapper {
  padding: 0 20px;
  text-align: center;
}

.our-contacts__title {
  margin: 0;
  margin-bottom: 37px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.our-contacts__footer-white-triangle {
  margin-top: -75px;
  margin-bottom: -36px;
}
