.intro-image {
  position: relative;
  height: 460px;
  margin-top: -65px;
  background: #2a3a4a url("../img/bg-mobile.jpg") no-repeat center;
}

.intro-image__hand {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.intro-image__result-app {
  position: absolute;
  bottom: 85px;
  right: 105px;
  z-index: 1;
}
